
main, aside{
    margin-top: 10px;
}

main{

    float: right;
    min-width: 600px;
    max-width: 600px;
}

.product-item{
    border: 1px solid #ccc;
    float: left;
    min-width: 200px;
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.product-image img{
    max-width: 180px;
}

.product-name{
    font-size: 12px;
    text-align: left;
}

.product-price{
    text-align: right;
    font-size: bold;
    color: red;
}